<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blocipedia</title>
  </head>
  <body><center>
    <div class="transbox">
    <h1><b>Blocipedia</b></h1>
    <br>
    <p>A "User Created" Wikipedia clone.</p>
    <br>
    <p><i>Click the button below to visit Wikipedia</i></p>
    <br>
    <button class="demo-btn"><%= link_to "Wiki", "https://wikipedia.org", class: "demo-btn" %></button>
  </body></center>
</div>
</html>
